version: "3"

services:
  wordpress_phpunit:
    build:
      context: .
      dockerfile: tools/phpunit.dockerfile
      args:
        VERSION_PHP: 7.2
        VERSION_PHP_UNIT: 8
        VERSION_WP: 6.1.1
        VERSION_XDEBUG: 3.1.6
        SED_OPTION: '-i'
    working_dir: /app/yesticket
    command: phpunit
    environment:
      XDEBUG_MODE: "coverage"
    networks:
      - testing
    depends_on:
      mysql_phpunit:
        condition: service_healthy
    volumes:
      - "./:/app"
      - "./config/wp-tests-config.php:/tmp/wordpress-tests-lib/wp-tests-config.php"
      - "testsuite:/tmp"
# Changing the DB-Container name or env requires adaption in the phpunit.dockerfile!
  mysql_phpunit:
    image: "mariadb:10.2"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: "wordpress_test"
      MYSQL_ROOT_PASSWORD: "test"
      MYSQL_USER: "yesticket"
      MYSQL_PASSWORD: "test"
    networks:
      - testing
    healthcheck:
      test: "healthcheck.sh --no-defaults || exit 1"
      interval: 5s
      timeout: 2s
      retries: 3
      start_period: 10s

volumes:
  testsuite: {}

networks:
  testing:
    name: yesticket_testing