@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Zilla Slab'), local('ZillaSlab-Regular'), url(./zilla_slab_reg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.yt-testimonial-row {
    padding-bottom: 20px;
}
.yt-testimonial-text {
    font-size: 1em; 
	font-weight: 700;
}
.yt-testimonial-source {
	font-size: 0.8em;
	margin-left: 20px;
}
.yt-row-list {
    padding-bottom: 20px;
}

.yt-row {
    padding-bottom: 20px;
}
.yt-eventname {
	font-size: 1.3em;
	line-height: 1.2;
	font-weight: 700;
	display: block;
	margin: 0 0 5px 0;
}
.yt-eventdate {
	font-size: 1em;
	margin-right: 10px;
}
.yt-eventtype {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
}

.yt-urgency {
	font-size: 0.7em;
	font-weight: 700;
	background-color: rgba(0,0,0,0.1);
	padding: 3px 5px;
}
.yt-show-details {
	cursor: pointer;
}
.yt-location {
	font-size: 0.8em;
}
.yt-button {
	float: right;
	padding: 7px 15px; 
	margin: 0 0 0 30px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 5px;
}
.yt-button-row {
    padding: 10px;
    text-align: center;
}
.yt-button-big {
	margin: 10px 0 25px 0;
	display: block;
	text-align: center;
	font-size: 1em;
	padding: 10px 20px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 5px;
}
.yt-button img, .yt-button-big img {
	position: relative;
	top: -2px;
	right: -5px;
}
.yt-details {
	font-size: 1em;
	margin: 5px 0 10px 0;
}
.yt-details > div {
	padding: 15px 0 5px 18px;
}
.yt-details h5 {
	margin-bottom: 0;
}

/* Card Container */

.yt-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.yt-container * {
  box-sizing: border-box;
}

.yt-container a {
	text-decoration: none !important;
}

.yt-container .yt-card-event {
	flex: 0 auto;
}

.yt-container .yt-card-event {
	padding: 0 15px .5rem 15px;
	line-height: 1.15;
}

.yt-container .yt-card {
	height: 240px;
	width: 300px;
}
.yt-container .yt-card-image {
	height: 145px;
}
.yt-container .yt-card-text-wrapper {
	height: 95px;
}
.yt-card-body {
	height: 100%;
	overflow: hidden;
}

.yt-card {
	width: 100%;
	height: 100%;
	position: relative;
	border: 1px solid;
	border-radius: .25rem;
}

.yt-card-image {
	width: 100%;
	height: 100px;
	background-size: cover;
	background-position: top;
}

.yt-card-text-wrapper {
	position: relative;
	padding: .5rem 1rem;
	width: 100%;
	display: flex;
	box-sizing: border-box;
}

.yt-card-date {
	margin-right: 1rem;
}

.yt-card-month {
	text-transform: uppercase;
}

.yt-card-day {
	font-family: 'Zilla Slab', serif;
	font-weight: 700 !important;
	font-size: 40px !important;
	line-height: 0.7 !important;
	padding-bottom: 5px !important;
}

.yt-card-captions {
	font-size: 0.9rem !important;
	line-height: 1.1 !important;
}

/* For Count=1, make card fill all the available space */
.yt-single {
	width: 100%;
	padding: 0 15px;
	box-sizing: border-box;
}

/* Light Theme */

.yt-light .yt-button {
	color: #000;
	background: #eee; 
	border: 1px solid #fff;
	transition: background-color 300ms ease-out;
}
.yt-light .yt-button:hover, .yt-light .yt-button:active, .yt-light .yt-button:focus,
.yt-light .yt-button-big:hover, .yt-light .yt-button-big:active, .yt-light .yt-button-big:focus {
	background-color: #e3e3e3;
	color: #000;
}
.yt-light .yt-button-row {
	border-bottom: 1px solid #eee;
}
.yt-light .yt-button-big {
	color: #000;
	background-color: #eee;
	transition: background-color 300ms ease-out;
	border: 1px solid #fff;
}
.yt-light .yt-urgency {
	background-color: #eee;
	border: 1px solid #fff;
}

.yt-light .yt-card {
	background: #fff;
	color: #333;
	border-color: rgba(0,0,0,.125);
}

/* Dark Theme */

.yt-dark .yt-button {
	color: #fff;
	background: #666; 
	border: 1px solid #333;
	transition: background-color 300ms ease-out;
}
.yt-dark .yt-button:hover, .yt-dark .yt-button:active, .yt-dark .yt-button:focus,
.yt-dark .yt-button-big:hover, .yt-dark .yt-button-big:active, .yt-dark .yt-button-big:focus {
	background-color: #777;
	color: #fff;
}
.yt-dark .yt-button-row {
	border-bottom: 1px solid #333;
}
.yt-dark .yt-button-big {
	color: #fff;
	background-color: #666;
	transition: background-color 300ms ease-out;
	border: 1px solid #333;
}
.yt-dark .yt-urgency {
	color: #fff;
	background-color: #666;
	border: 1px solid #333;
}

.yt-dark .yt-card {
	background: #333;
	color: #fff;
	border-color: rgba(255, 255, 255, 0.2);
}