/* Contains the styles for the admin/plugin-settings page of the plugin. */

.ytp-code {
	background: #fff;
	padding: 2px 5px;
	margin: 5px 0;
	font-family: monospace; 
	border: 1px solid #eee; 
	font-size: 1.1em; 
	display: inline-block;
}
h1 { margin-top: 40px; }
h2 { margin-top: 30px; }
h3 { margin-top: 20px; font-style: italic; }
.ml-3 { margin-left: 30px; }
/* GENERIC CSS END */

/* TABS TABS TABS START */

.nav-tab-wrapper {
	position: relative;
}
/* .nav-tab {

}
.nav-tab-active {

} */

.shortcode_preview {
	bottom: 3rem;
	left: 1rem;
	padding: 0.5rem;
	box-shadow: -5px 5px 10px;
	background-color: #f0f0f1;
}

.shortcode_preview img {
	height: 20vh;
}

.shortcode_preview p {
	margin: 0;
}

/* TABS TABS TABS END */

/* UTILITY START */

.show_on_hover {
	position: absolute;
  display: none;
}

.hover_trigger {
	cursor: pointer;
}

.hover_trigger:hover + .show_on_hover,
.hover_trigger:focus + .show_on_hover {
	display: block;
}

/* UTILITY END */