/* Contains the styles for the visitor-facing pages of the plugin. */

/**************************************************************************************/
/* START FONTS ***********************************************************************/
/**************************************************************************************/

@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Zilla Slab'), local('ZillaSlab-Regular'), url(./zilla_slab_reg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/**************************************************************************************/
/************************************************************************** END FONTS */
/**************************************************************************************/

/**************************************************************************************/
/* START GENERIC COMPONENTS ***********************************************************/
/**************************************************************************************/

/***********/
/* Buttons */
/***********/

[class^="ytp-button"] {
	position: relative;
	padding: 7px 7px 7px 15px; 
	font-weight: 700;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid;
	font-size: 120%;
	transition: background-color 300ms ease-out;
	line-height: 2em;
}
[class^="ytp-button"]::after {
	content: "";
	width: 1.2em;
	height: 1.2em;
	margin-left: 0.2em;
	position: relative;
	background-image: url('./img/YesTicket_260x260.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	top: 0.2em;
	display: inline-block;
}
.ytp-button-big {
	margin: 10px 0 25px 0;
	display: block;
	text-align: center;
	padding: 10px 20px;
}

/**************************************************************************************/
/************************************************************* END GENERIC COMPONENTS */
/**************************************************************************************/

/**************************************************************************************/
/* START SHORTCODES *******************************************************************/
/**************************************************************************************/

/****************/
/* Testimonials */
/****************/

.ytp-testimonials {
	font-size: 1em;
}
.ytp-testimonial-row {
	display: block;
	width: 100%;
	padding-bottom: 20px;
	overflow: hidden;
}
.ytp-testimonial-text,
.ytp-testimonial-source {
	display: block;
	text-align: left;
}
.ytp-testimonial-text {
	font-size: 1em; 
	font-weight: 700;
}
.ytp-testimonial-source {
	font-size: 0.8em;
	margin-left: 2em;
	margin-top: 0.5em;
}
@media only screen and (max-width: 420px) {
	.ytp-testimonial-row {
		padding-bottom: 3em;
		text-align: center;
	}
	.ytp-testimonial-source {
		margin-right: 2em;
	}
	.ytp-testimonial-source,
	.ytp-testimonial-text {
		text-align: center;
	}
}
@media only screen and (min-width: 600px) {
	.ytp-jump .ytp-testimonial-row > div {
		/* Reduce %-age of taken space as screen is bigger. */
		max-width: 60% !important;
	}
}
@media only screen and (min-width: 420px) {
	.ytp-jump .ytp-testimonial-row > div {
		max-width: 80%;
	}
	.ytp-jump .ytp-testimonial-row:nth-child(even) > div {
		float: right;
		text-align: right;
	}
}

/**************/
/* Event-List */
/**************/

.ytp-event-list li {
	list-style: none;
}
.ytp-event-list ol,
.ytp-event-list ul,
.ytp-event-list li {
	padding-left: 0;
	margin-left: 0;
}
.ytp-event-list-row {
	padding-bottom: 20px;
}
.ytp-event-list-name {
	font-size: 1.3em;
	line-height: 1.2;
	font-weight: 700;
	display: block;
	margin: 0 0 5px 0;
}
.ytp-event-list-date,
.ytp-event-list-time,
.ytp-event-list-location,
.ytp-event-list-city {
	font-size: 1em;
	display: inline-block;
}
.ytp-event-list-type {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
}
.ytp-event-list-location::after{
	content: ",";
}

/*********/
/* Event */
/*********/

.ytp-event-row {
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 2em;
	row-gap: 0.5em;
	border-bottom: 1px solid;
}
.ytp-event-info {
	flex: 99999 1 min-content;
	min-width: 24em;
}
.ytp-event-ticket {
	flex: 1 0 auto;
	text-align: center;
}
.ytp-event-location::after {
	content: ",";
}
.ytp-event-name {
	font-size: 1.5em;
	line-height: 1.2;
	font-weight: 700;
	margin: 0 0 5px 0;
}
.ytp-event-type {
	font-size: 0.4em;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
}
.ytp-event-date {
	font-size: 1em;
	display: block;
}
.ytp-event-location,
.ytp-event-city {
	display: inline-block;
}
.ytp-event-ticket-wrap {
	float: right;
	text-align: right;
}
.ytp-event-urgency {
	font-size: 0.7em;
	font-weight: 700;
	padding: 3px 5px;
	display: inline-block;
	margin: 1em 0;
	border: 1px solid
}
.ytp-event-row .ytp-button {
	box-sizing: border-box;
}
.ytp-event-button-row {
	padding: 0 10px;
	text-align: center;
}
.ytp-event-details-details {
	font-size: 1em;
	margin-top: 0.5em;
}
.ytp-event-details-details h5 {
	margin-bottom: 0;
}
.ytp-event-details-summary {
	cursor: pointer;
	text-decoration: underline;
	width: fit-content;
}
.ytp-event-details-location {
	font-size: 1em;
}
.ytp-event-details-location-name,
.ytp-event-details-location-street {
	display: block;
}
.ytp-event-details-location-zip,
.ytp-event-details-location-city,
.ytp-event-details-location-country {
	display: inline-block;
}
.ytp-event-details-location-city::after,
.ytp-event-details-location-state::after {
	content: ",";
}
.ytp-event-details-back-to-top {
	display: inline-block;
	margin-top: 1em;
	color: inherit !important;
}
.ytp-event-details-back-to-top::before {
	content: "\25B4 ";
	display: inline;
}

/*********/
/* Cards */
/*********/

.ytp-event-cards {

	--ytp-card-border-radius: 4px;
	--ytp-card-border-thickness: 2px;

	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 1em;
  column-gap: 0.5em;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.ytp-event-cards * {
  box-sizing: border-box;
}

.ytp-event-cards a {
	text-decoration: none !important;
}

.ytp-event-cards > * {
	flex: 0 auto;
	line-height: 1.15;
}
.ytp-event-card {
	height: 240px;
	width: 290px;
	position: relative;
	border: var(--ytp-card-border-thickness) solid;
	border-radius: var(--ytp-card-border-radius);
	transition: color 300ms ease-in-out;
}
.ytp-event-card-image {
	height: 142px;
	border-radius: var(--ytp-card-border-radius) var(--ytp-card-border-radius) 0 0;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;
	transition: background 300ms ease-in-out;
}
a:hover .ytp-event-card-image,
a:focus .ytp-event-card-image {
	background-size: 105%;
} 
.ytp-event-card-text-wrapper {
	position: relative;
	padding: 8px 16px;
	width: 100%;
	box-sizing: border-box;
	height: 92px;
	display: flex;
	align-items: center;
	column-gap: 16px;
}
.ytp-event-card-date {
	flex: 0 0 auto;
}
.ytp-event-card-body {
	flex: 0 1 auto;
	max-height: 100%;
	overflow: hidden;
}
.ytp-event-card-month {
	text-transform: uppercase;
}
.ytp-event-card-day {
	font-family: 'Zilla Slab', serif;
	font-weight: 700 !important;
	font-size: 40px !important;
	line-height: 0.7 !important;
	padding-bottom: 5px !important;
}

/**************************************************************************************/
/********************************************************************* END SHORTCODES */
/**************************************************************************************/

/**************************************************************************************/
/* START THEMES ***********************************************************************/
/**************************************************************************************/

/***************/
/* Light Theme */
/***************/

.ytp-light {
	--ytp-theme-light-color: #333;
	--ytp-theme-light-color-background: #eee;
	--ytp-theme-light-color-background-hover: #ddd;
	--ytp-theme-light-color-border: #fff;
	--ytp-theme-light-color-border-hover: #eee;
}
.ytp-light [class^="ytp-button"] {
	color: var(--ytp-theme-light-color);
	background: var(--ytp-theme-light-color-background); 
	border-color: var(--ytp-theme-light-color-border);
}
.ytp-light [class^="ytp-button"]:hover,
.ytp-light [class^="ytp-button"]:active,
.ytp-light [class^="ytp-button"]:focus {
	background-color: var(--ytp-theme-light-color-background-hover);
}
.ytp-light .ytp-event-row {
	border-color: var(--ytp-theme-light-color-background);
}
.ytp-light .ytp-event-urgency {
	color: var(--ytp-theme-light-color);
	background-color: var(--ytp-theme-light-color-background);
	border-color: var(--ytp-theme-light-color-border);
}

.ytp-light .ytp-event-card {
	background: var(--ytp-theme-light-color-background);
	color: var(--ytp-theme-light-color);
	border-color: var(--ytp-theme-light-color-border);
}

.ytp-light a:hover .ytp-event-card,
.ytp-light a:active .ytp-event-card,
.ytp-light a:focus .ytp-event-card {
	background-color: var(--ytp-theme-light-color-background-hover);
	border-color: var(--ytp-theme-light-color-border-hover);
}

/**************/
/* Dark Theme */
/**************/

.ytp-dark {
	--ytp-theme-dark-color: #ddd;
	--ytp-theme-dark-color-background: #333;
	--ytp-theme-dark-color-background-hover: #444;
	--ytp-theme-dark-color-border: #222;
	--ytp-theme-dark-color-border-hover: #333;
}
.ytp-dark [class^="ytp-button"] {
	color: var(--ytp-theme-dark-color);
	background: var(--ytp-theme-dark-color-background); 
	border-color: var(--ytp-theme-dark-color-border);
}
.ytp-dark [class^="ytp-button"]:hover,
.ytp-dark [class^="ytp-button"]:active,
.ytp-dark [class^="ytp-button"]:focus {
	background-color: var(--ytp-theme-dark-color-background-hover);
}
.ytp-dark .ytp-event-row {
	border-color: var(--ytp-theme-dark-color-background);
}
.ytp-dark .ytp-event-urgency {
	color: var(--ytp-theme-dark-color);
	background-color: var(--ytp-theme-dark-color-background);
	border-color: var(--ytp-theme-dark-color-border);
}
.ytp-dark .ytp-event-card {
	background: var(--ytp-theme-dark-color-background);
	color: var(--ytp-theme-dark-color);
	border-color: var(--ytp-theme-dark-color-border);
}

.ytp-dark a:hover .ytp-event-card,
.ytp-dark a:active .ytp-event-card,
.ytp-dark a:focus .ytp-event-card {
	background-color: var(--ytp-theme-dark-color-background-hover);
	border-color: var(--ytp-theme-dark-color-border-hover);
}

/**************************************************************************************/
/************************************************************************* END THEMES */
/**************************************************************************************/
