@media (min-width: 1024px) {
  section,
  .slide {
    padding: 4.8rem !important; }
  .yesticket-event-teaser {
    padding: 4.8rem !important;
  }
}

#ytp-slides,
#ytp-slides * {
  z-index: 120001;
}
#ytp-slides .background,
#ytp-slides [class*='background-'] {
  z-index: 120000;}

#ytp-slides {
  overflow: hidden;
  background-color: var(--wp--preset--color--base);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

#ytp-slides #navigation {
  display: none;
}

#ytp-slides .yesticket-slide {
  position: relative;
  justify-content: initial;
}

#ytp-slides .yesticket-slide .background {
  height: 105%;
  animation-duration: 1s;
}

#ytp-slides .yesticket-event-meta {
  color: var(--wp--preset--color--base);
  position: relative;
  padding: 1.2rem !important;
  display: inline-block !important;
  width: fit-content;
}

#ytp-slides .yesticket-event-name {
  color: var(--wp--preset--color--base);
  padding: 0 !important;
  display: inline-block !important;
}

#ytp-slides .yesticket-event-teaser {
  position: absolute;
  padding: 2.4rem;
  bottom: 0;
  left: 0;
  width: 100%;
}

#ytp-slides .yesticket-event-teaser > * {
  padding: 1.2rem !important;
  width: fit-content;
  text-align: center;
  float: right;
}

#ytp-slides .delay1 {
  animation-delay: 1.5s;
}

#ytp-slides .delay2 {
  animation-delay: 3s;
}

#ytp-slides .delay3 {
  animation-delay: 4.5s;
}